In [11]:
fav_lang='xyz  python  abc  '#removing spaces
0print(fav_lang.strip())

xyz  python  abc

In [38]:
students=['hepsi','praveen','chitti','chandhu']#list example(append (adding name in end of right side))
print(students)

['hepsi', 'praveen', 'chitti', 'chandhu']

In [39]:
students.insert(2,'chitti')#lst(adding item at the given index)
print(students)

['hepsi', 'praveen', 'chitti', 'chitti', 'chandhu']

In [40]:
students.pop(2)#to delete we use pop method

'chitti'

In [41]:
print(students)

['hepsi', 'praveen', 'chitti', 'chandhu']

In [42]:
students.sort()#arreng in alphabentic order

In [43]:
students.reverse()#reverse method to reverse the order(based on alphabetic order)

In [44]:
print(students)

['praveen', 'hepsi', 'chitti', 'chandhu']

In [45]:
len(students)#finding the length of list

4

In [46]:
print(students[0:2])#used slicing method

['praveen', 'hepsi']

In [49]:
print(students[-1])#using -ve indexing

chandhu

In [53]:
for student in students:#using  for loop
    print(student)

praveen
hepsi
chitti
chandhu

In [56]:
my_food=['pizza','chapatji','naan']#coping list 
friend_food=my_food[:]
print(friend_food)

['pizza', 'chapatji', 'naan']

In [61]:
dim=(207,34)#tuple data type
print(dim)
for x in dim:
     print (x)

(207, 34)
207
34

In [58]:
dim[0]=250

TypeError: 'tuple' object does not support item assignment

In [62]:
cars=['audi','bmw','nissan','tesla']#using if else in list data type(conditional data type)
print(cars)

['audi', 'bmw', 'nissan', 'tesla']

In [74]:
for car in cars:
    if car=='nissan':
        print(car.upper())
    else:
        print(car.title())

Audi
Bmw
NISSAN
Tesla

In [80]:
alien_0 = {'color':'green','points':5}#key,value------key------color,value : green#dictionary data type

print(alien_0)
new_points = alien_0['points']

print(f"you just earned {new_points} points.")

{'color': 'green', 'points': 5}
you just earned 5 points.

In [82]:
alien_0['xposition'] = 0

alien_0['yposition'] = 25

print(alien_0)

{'color': 'green', 'points': 5, 'xposition': 0, 'yposition': 25}